@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply inline-block;
  }
}

@layer components {
  .notes {
    background-attachment: local;
    background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px),
      repeating-linear-gradient(white, white 24px, #eee 24px, #eee 25px, white 25px);
    line-height: 25px;
    padding: 4px 10px;
  }
}
